<?xml version='1.0' encoding='UTF-8'?> 
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version='1.0'>
  <dict>
    <key>dictionary</key>
    <dict>
      <key>person</key>
      <array>
        <string>1st</string>
        <string>2nd</string>
        <string>3rd</string>
      </array>
      <key>gender</key>
      <array>
        <string>masc</string>
        <string>fem</string>
        <string>neut</string>
      </array>
      <key>number</key>
      <array>
        <string>sg</string>
        <string>pl</string>
      </array>
      <key>case</key>
      <array>
        <string>nom</string>
        <string>acc</string>
        <string>gen</string>
        <string>dat</string>
        <string>abl</string>
        <string>voc</string>
        <string>adverbial</string>
        <string>indecl</string>
      </array>
      <key>tense</key>
      <array>
        <string>pres</string>
        <string>imperf</string>
        <string>fut</string>
        <string>perf</string>
        <string>plup</string>
        <string>futperf</string>
      </array>
      <key>mood</key>
      <array>
        <string>ind</string>
        <string>subj</string>
        <string>inf</string>
        <string>gerundive</string>
        <string>supine</string>
        <string>imperat</string>
        <string>part</string>
      </array>
      <key>voice</key>
      <array>
        <string>act</string>
        <string>pass</string>
      </array>
      <key>degree</key>
      <array>
        <string>pos</string>
        <string>comp</string>
        <string>superl</string>
        <string>irreg_comp</string>
        <string>irreg_superl</string>
      </array>
      <key>compounding</key>
      <array>
        <string>no_comp</string>
        <string>comp_only</string>
      </array>
      <key>contraction</key>
      <array>
        <string>contr</string>
        <string>orth</string>
      </array>
      <key>syncope</key>
      <array>
        <string>syncope</string>
      </array>
      <key>nountype</key>
      <array>
        <string>ethnic</string>
        <string>group</string>
        <string>place</string>
        <string>river</string>
        <string>pers_name</string>
      </array>
      <key>usage</key>
      <array>
        <string>poetic</string>
      </array>
      <key>time</key>
      <array>
        <string>archaic</string>
        <string>early</string>
        <string>old</string>
        <string>rare</string>
        <string>late</string>
      </array>
      <key>accentuation</key>
      <array>
        <string>ant_acc</string>
      </array>
      <key>reduplication</key>
      <array>
        <string>has_redupl</string>
      </array>
      <key>deponency</key>
      <array>
        <string>dep</string>
      </array>
      <key>stemtype</key>
      <array>
        <string>0_a_um</string>
        <string>0_adj3</string>
        <string>0_e</string>
        <string>0_i</string>
        <string>0_is</string>
        <string>0_us</string>
        <string>aLs_aris</string>
        <string>a_ae</string>
        <string>a_es</string>
        <string>adverb</string>
        <string>an_aLnis</string>
        <string>ans_adj</string>
        <string>ans_antis</string>
        <string>as_adis</string>
        <string>as_ae</string>
        <string>as_anis</string>
        <string>as_antis</string>
        <string>as_atis</string>
        <string>avperf</string>
        <string>ax_adj</string>
        <string>c_cis</string>
        <string>c_kos</string>
        <string>conj</string>
        <string>conj1</string>
        <string>conj2</string>
        <string>conj3</string>
        <string>conj3_io</string>
        <string>conj4</string>
        <string>demonstr</string>
        <string>eLr_eLis</string>
        <string>eLr_eLris</string>
        <string>eLs_eris</string>
        <string>e_ae</string>
        <string>e_es</string>
        <string>e_is</string>
        <string>en_inis</string>
        <string>ens_adj</string>
        <string>ens_entis</string>
        <string>eps_ipis</string>
        <string>eps_ipitis</string>
        <string>er_era_erum</string>
        <string>er_eris</string>
        <string>er_i</string>
        <string>er_ra_rum</string>
        <string>er_ri</string>
        <string>er_ris</string>
        <string>er_ris_re</string>
        <string>es_ae</string>
        <string>es_eLdis</string>
        <string>es_eLi</string>
        <string>es_eLtis</string>
        <string>es_eLtis_adj</string>
        <string>es_ei</string>
        <string>es_idis</string>
        <string>es_is</string>
        <string>es_itis</string>
        <string>eus_ei</string>
        <string>evperf</string>
        <string>ex_icis</string>
        <string>ex_icis_adj</string>
        <string>ex_igis</string>
        <string>exclam</string>
        <string>indecl_nom</string>
        <string>indef</string>
        <string>interrog</string>
        <string>ior_ius_comp</string>
        <string>ios_i</string>
        <string>irreg_adj1</string>
        <string>irreg_adj2</string>
        <string>irreg_adj3</string>
        <string>irreg_decl3</string>
        <string>irreg_fut</string>
        <string>irreg_nom2</string>
        <string>irreg_nom3</string>
        <string>irreg_pp1</string>
        <string>irreg_pp2</string>
        <string>is_e</string>
        <string>is_eos</string>
        <string>is_eris</string>
        <string>is_idis</string>
        <string>is_idos</string>
        <string>is_is</string>
        <string>is_is_C</string>
        <string>ius_i</string>
        <string>ius_ia_ium</string>
        <string>ivperf</string>
        <string>ix_adj</string>
        <string>ix_iLcis</string>
        <string>ix_icis</string>
        <string>ix_igis</string>
        <string>ma_matis</string>
        <string>men_minis</string>
        <string>numeral</string>
        <string>oLn_oLnis</string>
        <string>oLn_onis</string>
        <string>o_eLnis</string>
        <string>o_enis</string>
        <string>o_inis</string>
        <string>o_oLnis</string>
        <string>o_onis</string>
        <string>o_ontis</string>
        <string>o_us</string>
        <string>on_i</string>
        <string>on_ontis</string>
        <string>or_oLris</string>
        <string>or_oris</string>
        <string>or_us_comp</string>
        <string>os_i</string>
        <string>os_ois</string>
        <string>ox_adj</string>
        <string>peLs_pedis</string>
        <string>peLs_pedis_adj</string>
        <string>perfstem</string>
        <string>pp4</string>
        <string>prep</string>
        <string>pron</string>
        <string>pron1</string>
        <string>pron2</string>
        <string>pron3</string>
        <string>rel_pron</string>
        <string>relative</string>
        <string>s_dis</string>
        <string>s_dis_adj</string>
        <string>s_e</string>
        <string>s_is</string>
        <string>s_nis</string>
        <string>s_ris</string>
        <string>s_tis</string>
        <string>s_tis_adj</string>
        <string>tas_tatis</string>
        <string>uLs_uLris</string>
        <string>uns_untis</string>
        <string>ur_oris</string>
        <string>us_a_um</string>
        <string>us_eris</string>
        <string>us_i</string>
        <string>us_ius_adj</string>
        <string>us_oris</string>
        <string>us_untis</string>
        <string>us_us</string>
        <string>x_cis</string>
        <string>x_ctis</string>
        <string>x_gis</string>
        <string>y_pos</string>
        <string>ys_yos</string>
      </array>
      <key>deriv_type</key>
      <array>
        <string>are_vb</string>
        <string>ire_vb</string>
      </array>
    </dict>
    <key>order</key>
    <array>
      <string>person</string>
      <string>gender</string>
      <string>number</string>
      <string>case</string>
      <string>tense</string>
      <string>mood</string>
      <string>voice</string>
      <string>degree</string>
      <string>usage</string>
      <string>time</string>
      <string>deponency</string>
    </array>
    <key>stem_groups</key>
    <dict>
      <key>adjective</key>
      <dict>
        <key>stems</key>
        <array>
          <string>us_a_um</string>
          <string>0_a_um</string>
          <string>er_ra_rum</string>
          <string>er_era_erum</string>
          <string>ius_ia_ium</string>
          <string>irreg_adj1</string>
          <string>irreg_adj2</string>
          <string>irreg_adj3</string>
          <string>is_e</string>
          <string>er_ris_re</string>
          <string>ans_adj</string>
          <string>ens_adj</string>
          <string>us_ius_adj</string>
          <string>0_ius_adj</string>
          <string>ior_ius_comp</string>
          <string>or_us_comp</string>
          <string>ax_adj</string>
          <string>0_adj3</string>
          <string>peLs_pedis_adj</string>
          <string>ox_adj</string>
          <string>ix_adj</string>
          <string>s_tis_adj</string>
          <string>eps_ipitis</string>
          <string>ex_icis_adj</string>
          <string>s_dis_adj</string>
        </array>
      </dict>
      <key>adverb</key>
      <dict>
        <key>stems</key>
        <array>
          <string>adverb</string>
        </array>
      </dict>
      <key>preposition</key>
      <dict>
        <key>stems</key>
        <array>
          <string>prep</string>
        </array>
      </dict>
      <key>pronoun</key>
      <dict>
        <key>stems</key>
        <array>
          <string>pron1</string>
          <string>pron2</string>
          <string>pron3</string>
        </array>
      </dict>
      <key>demonstr</key>
      <dict>
        <key>key</key>
        <string>demonstr. pronoun</string>
        <key>stems</key>
        <array>
          <string>demonstr</string>
        </array>
      </dict>
      <key>interrog</key>
      <dict>
        <key>key</key>
        <string>interrog. pronoun</string>
        <key>stems</key>
        <array>
          <string>interrog</string>
        </array>
      </dict>
      <key>indef</key>
      <dict>
        <key>key</key>
        <string>indefinite pronoun</string>
        <key>stems</key>
        <array>
          <string>indef</string>
        </array>
      </dict>
      <key>relative</key>
      <dict>
        <key>key</key>
        <string>relative pronoun</string>
        <key>stems</key>
        <array>
          <string>rel_pron</string>
          <string>relative</string>
        </array>
      </dict>
      <key>conjunction</key>
      <dict>
        <key>stems</key>
        <array>
          <string>conj</string>
        </array>
      </dict>
      <key>indecl</key>
      <dict>
        <key>key</key>
        <string>indeclinable</string>
        <key>stems</key>
        <array>
          <string>indecl</string>
        </array>
      </dict>
      <key>numeral</key>
      <dict>
        <key>stems</key>
        <array>
          <string>numeral</string>
        </array>
      </dict>
      <key>exclamation</key>
      <dict>
        <key>stems</key>
        <array>
          <string>exclam</string>
        </array>
      </dict>
      <key>noun1</key>
      <dict>
        <key>key</key>
        <string>1st decl. noun</string>
        <key>stems</key>
        <array>
          <string>a_ae</string>
          <string>e_es</string>
          <string>es_ae</string>
          <string>as_ae</string>
        </array>
      </dict>
      <key>noun2</key>
      <dict>
        <key>key</key>
        <string>2nd decl. noun</string>
        <key>stems</key>
        <array>
          <string>us_i</string>
          <string>ius_i</string>
          <string>os_i</string>
          <string>0_i</string>
          <string>er_ri</string>
          <string>ios_i</string>
          <string>eus_ei</string>
          <string>irreg_nom2</string>
        </array>
      </dict>
      <key>noun3</key>
      <dict>
        <key>key</key>
        <string>3rd decl. noun</string>
        <key>stems</key>
        <array>
          <string>x_gis</string>
          <string>or_oris</string>
          <string>is_is</string>
          <string>s_is</string>
          <string>e_is</string>
          <string>ens_entis</string>
          <string>ans_antis</string>
          <string>tas_tatis</string>
          <string>es_is</string>
          <string>o_onis</string>
          <string>x_cis</string>
          <string>is_idis</string>
          <string>men_minis</string>
          <string>ix_iLcis</string>
          <string>ix_icis</string>
          <string>o_oLnis</string>
          <string>en_inis</string>
          <string>ma_matis</string>
          <string>as_adis</string>
          <string>oLn_oLnis</string>
          <string>oLn_onis</string>
          <string>or_oLris</string>
          <string>ex_icis</string>
          <string>uns_untis</string>
          <string>er_eris</string>
          <string>eLr_eLris</string>
          <string>s_tis</string>
          <string>0_is</string>
          <string>es_itis</string>
          <string>us_untis</string>
          <string>or_uris</string>
          <string>uLs_uLris</string>
          <string>es_eLtis</string>
          <string>as_antis</string>
          <string>on_ontis</string>
          <string>er_eris</string>
          <string>s_nis</string>
          <string>o_inis</string>
          <string>x_ctis</string>
          <string>os_ois</string>
          <string>ys_yos</string>
          <string>is_eris</string>
          <string>er_ris</string>
          <string>is_is_C</string>
          <string>s_dis</string>
          <string>peLs_pedis</string>
          <string>es_eLdis</string>
          <string>is_eos</string>
          <string>is_idos</string>
          <string>ex_igis</string>
          <string>eps_ipis</string>
          <string>o_eLnis</string>
          <string>an_aLnis</string>
          <string>us_eris</string>
          <string>us_oris</string>
          <string>eLs_eris</string>
          <string>ur_oris</string>
          <string>es_idis</string>
          <string>aLs_aris</string>
          <string>as_anis</string>
          <string>irreg_nom3</string>
          <string>irreg_decl3</string>
        </array>
      </dict>
      <key>noun4</key>
      <dict>
        <key>key</key>
        <string>4th decl. noun</string>
        <key>stems</key>
        <array>
          <string>us_us</string>
          <string>o_us</string>
        </array>
      </dict>
      <key>noun5</key>
      <dict>
        <key>key</key>
        <string>5th decl. noun</string>
        <key>stems</key>
        <array>
          <string>es_ei</string>
          <string>es_eLi</string>
        </array>
      </dict>
      <key>verb</key>
      <dict>
        <key>stems</key>
        <array>
          <string>perfstem</string>
          <string>irreg_fut</string>
          <string>irreg_pp1</string>
          <string>irreg_pp2</string>
          <string>pp4</string>
        </array>
      </dict>
      <key>verb1</key>
      <dict>
        <key>key</key>
        <string>1st conj. verb</string>
        <key>stems</key>
        <array>
          <string>conj1</string>
          <string>avperf</string>
        </array>
        <key>deriv_types</key>
        <array>
          <string>are_vb</string>
        </array>
      </dict>
      <key>verb2</key>
      <dict>
        <key>key</key>
        <string>2nd conj. verb</string>
        <key>stems</key>
        <array>
          <string>conj2</string>
          <string>evperf</string>
        </array>
      </dict>
      <key>verb3</key>
      <dict>
        <key>key</key>
        <string>3rd conj. verb</string>
        <key>stems</key>
        <array>
          <string>conj3</string>
          <string>conj3_io</string>
        </array>
      </dict>
      <key>verb4</key>
      <dict>
        <key>key</key>
        <string>4th conj. verb</string>
        <key>stems</key>
        <array>
          <string>conj4</string>
          <string>ivperf</string>
        </array>
        <key>deriv_types</key>
        <array>
          <string>ire_vb</string>
        </array>
      </dict>
    </dict>
  </dict>
</plist>